/* استایل جنرال برای تمام صفحه و تگ‌ها */

body {
  font-family: sans-serif;
  text-align: center;
  margin-top: 50px;
  background-color: #35333347;
}

h1 {
  color: rgb(225, 234, 234);
  font-size: 2.5rem;
  margin-bottom: 20px;
}

h2 {
  font-size: 3rem;
  margin: 20px 0;
}

button {
  padding: 8px 12px;
  margin: 0 5px;
  border: none;
  border-radius: 6px;
  background-color: #4d51c3;
  cursor: pointer;
  font-size: 1rem;
  transition: all 0.2s ease-in-out;
}

button:hover {
  background-color: #685959;
}

p {
  margin-top: 20px;
  color: #862929;
}
